@import url(font.css);

// Переменные шрифты
$fontDin: Din, sans-serif;
$fontOpen: Open-sans, sans-serif;
$fontMulish: Mulish, sans-serif;

// Переменные цвета
$black: #000;
$white: #fff;
$forest: #5B6460;
$forestLight:  #E9ECE0;
$foresrtFont: #333333;

// Расширения и миксины
@mixin widthEl($px, $widthPar) {
    width: calc($px * 100% / $widthPar);
}

// Заголовки секций
%sectionTitle {
    font-family: $fontOpen;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

// Основной текст
%textContent {
    font-family: $fontOpen;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 30px;
}

// Ссылки увидеть больше
%linkMore {
    font-family: $fontOpen;
    font-size: 1rem;
    line-height: 30px;
    color: $forest;
}

// Круг
%circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Сброс браузерных стилей и общие стили
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
} 
html {
    font-size: 16px;
}
a {
    text-decoration: none;
    display: inline-block;
}
img {
    vertical-align: bottom;
}
.conteiner {
    margin: 0 auto;
    @include widthEl(1408px, 1920px);
}

// HEADER
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 32px 17px 146px;
}
.header__navList {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header__navItem:not(:last-child) {
    margin-right: 36px;
}
.header__navLink {
    font-family: $fontDin;
    font-style: normal;
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 24px;
    text-transform: uppercase;
    color: $black;
}
.header__button {
    padding: 16px 60px;
    background: $forest;
    color: $white;
    font-size: 0.88rem;
}
.main {
    height: auto;
    width: 100%;
}
.sectionIntro {
    position: relative;
    background: url(../img/introBackground.png) no-repeat center/cover;
    margin-bottom: 148px;
    height: 89.5vh;
}
.sectionIntro__shadow {
    position: absolute;
    background-color: $foresrtFont;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    z-index: 1;
}
.sectionIntro__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.sectionIntro__contentBlock {
    text-align: end;
    margin-top: 95px;
    margin-right: 58px;
    flex-grow: 1;
}
.sectionIntro__title {
    font-family: $fontOpen;
    font-weight: 300;
    font-size: 4.3rem;
    line-height: 72px;
    color: $white;
    margin-bottom: 34px;
}
.sectionIntro__text {
    font-family: $fontMulish;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
    text-align: center;
    color: $white;
    max-width: 24%;
    display: inline-block;
    margin-right: 84px;
}
.sectionIntro__controllBlock {
    margin-bottom: 84px;
    text-align: center;
}
.leftArrow {
    margin-right: 46px;
}
.rightArrow {
    transform: rotateZ(180deg);
}

// CABINS
.sectionCabins {
    height: auto;
}
.sectionCabins__wrapper {
    padding-bottom: 8.5em;
}
.sectionCabins__mainBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6.5em;
    margin-bottom: 9.4em;
    padding-left: 9.2em;
}
.sectionCabins__textContent {
    align-self: flex-end;
}
.sectionCabins__title {
    @extend %sectionTitle;
    color: $forest;
    margin-bottom: 50px;
}
.sectionCabins__text {
    @extend %textContent;
    color: $black;
    margin-bottom: 17px;
}
.sectionCabins__link {
    @extend %linkMore;
    border-bottom: 1.5px solid $forest;
}
.sectionCabins__gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// FOREST
.sectionForest__wrapper {
    display: flex;
    height: 75%;
}
.sectionForest__map {
    flex-basis: 50%;
    background: url(../img/map.png) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionForest__mapDark {
    width: 100%;
    height: 100%;
    background: rgba(62, 68, 62, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionForest__mapDark > div {
    width: 176px;
    height: 176px;
    background-color: rgba(255, 255, 255, .15);
    @extend %circle;
}
.sectionForest__mapDark > div > div {
    width: 134px;
    height: 134px;
    background-color: rgba(255, 255, 255, .25);
    @extend %circle;
}
.sectionForest__mapDark > div > div > div {
    width: 96px;
    height: 96px;
    background-color: rgba(255, 255, 255, 1);
    @extend %circle;
    font-family: $fontDin;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 16px;
    text-transform: uppercase;
    color: $foresrtFont;
    text-align: center;
}
.sectionForest__content {
    flex-basis: 50%;
    background: $forestLight;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 150px 130px 150px 110px;
}
.sectionForest__title {
    @extend %sectionTitle;
    color: $forest;
    margin-bottom: 50px;
}
.sectionForest__text {
    @extend %textContent;
    color: $forest;
    margin-bottom: 17px;
}
.sectionForest__link {
    @extend %linkMore;
    border-bottom: 1.5px solid $forest;
}

// FACILITIES
.sectionFacilities__wrapper {
    background: $forest;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 290px 80px 290px;
}
.sectionFacilities__title {
    font-family: $fontOpen;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 40px;
    color: $white;
    margin-bottom: 53px;
}
.sectionFacilities__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 55px 40px;
}
.sectionFacilities__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionFacilities__icon {
    margin-bottom: 20px;
}
.sectionFacilities__text {
    font-family: $fontOpen;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: $white;
}

// ABOUT 
.sectionAbout__wrapper {
    display: flex;
    position: relative;
    width: 100%;
}
.sectionAbout__left, .sectionAbout__right {
    flex-basis: 50%;
}
.sectionAbout__right > img,
.sectionAbout__left > img {
    width: 100%;
    height: 100%;
}
.sectionAbout__button {
    position: absolute;
    width: 156px;
    height: 156px;
    border-radius: 50%;
    background: $forestLight;
    display: flex;
    align-items: center;
    justify-content: center;
    left: calc(50% - 78px);
    top: calc(50% - 78px);
    font-family: $fontDin;
    font-weight: 300;
    font-size: 1em;
    line-height: 22px;
    text-align: center;
    color: $foresrtFont;
}

// FOOTER
.footer__wrapper {
    background: $forest;
    padding: 100px 147px;
}
.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer__topText {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
    color: $white;
}
.footer__topList {
    list-style-type: none;
    display: flex;
}
.footer__topItem:not(:last-child) {
    margin-right: 30px;
}
.footer__topLink {
    font-family: $fontDin;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 24px;
    color: $white;
}
.footer__midle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    max-width: 85%;
    margin-bottom: 10px;
}
.form input[type="email"] {
    width: 100%;
    background: transparent;
    border: none;
    font-family: $fontOpen;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    line-height: 30px;
    color: $white;
    padding: 5px 0;
}
.form input[type="email"]:focus {
    outline: none;
}
.form input[type="email"]::placeholder {
    font-family: $fontOpen;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    line-height: 30px;
    color: $white;
}
.form button[type="submit"]{
    background: transparent;
    border: none;
    cursor: pointer;
}
.footer__formText {
    font-family: $fontOpen;
    font-weight: 300;
    font-size: 1rem;
    line-height: 30px;
    color: $white;
    opacity: 0.7;
    max-width: 75%;
}
.footer__bankList {
    display: flex;
    list-style-type: none;
    width: 27.5%;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-family: $fontOpen;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 30px;
    color: #EFEFEF;
    opacity: 0.7;
}